{% extends 'layout/base.html' %}
{% block title %}Thêm học sinh - LPH EDU{% endblock %}
{% block content %}

    <form action="/api/user_pending" method="POST" enctype="multipart/form-data" style="display: flex; justify-content: center; width= 20%; margin: 100px; border: 2px solid black; padding: 20px">
           <div>{{form.csrf_token}}
                <p>{{form.hidden_tag()}}</p>
                <p>{{form.name.label}} <strong class="text-danger">*</strong> <br> {{form.name}}</p>
                <p>{{form.gender.label}}  <strong class="text-danger">*</strong><br>{{form.gender}}</p>
                <p>{{form.address.label}}  <strong class="text-danger">*</strong><br>{{form.address}}</p>
                <p>{{form.birthdate.label}}  <strong class="text-danger">*</strong><br>{{form.birthdate}}</p>
                <p>{{form.image.label}} <br>{{form.image}}</p>
           </div>
            <div>
                <p>{{form.grade.label}} <br> {{form.grade}} </p>
                <p>{{form.email.label}} <br>{{form.email}}</p>
                <p>{{form.phone.label}} <br>{{form.phone}}</p>
                <div style="display:flex; justify-content: space-between">
                    <p>{{form.submit(class_="btn btn-primary")}}</p>

                </div>
            </div>
    </form>

<button class="btn btn-success" onclick="validate_all(this)">Lưu tất cả học sinh</button>
<h4 class="badge bg-info m-3">Danh sách user đang chờ: </h4>
<div id="result">
    {% if msg['status'] == 'failed' %}
        <div class="alert alert-danger"><strong>{{msg['status']}}</strong> {{msg['message']}}</div>
    {% else %}
        <div class="alert alert-success"><strong>{{msg['status']}}</strong> {{msg['message']}}</div>
    {% endif %}
</div>
<ul class = 'list-group' id="student_list">
    {% for i in range(amount)%}
    <li class="list-group-item" id = "{{users_pending[i]['id']}}" style="display: flex;justify-content: space-between; align-items: center">
                                    <img src="{{users_pending[i]['image']}}" class="rounded-circle" style="width: 15%">
                                    <div style = "width:10%">{{users_pending[i]['name']}}</div>
                                    <div style = "width:5%">{{"Nam" if users_pending[i]['gender'] == 1 else "Nữ"}} </div>
                                    <div style = "width:10%">{{users_pending[i]['birthdate']}}</div>
                                    <div style = "width:10%">{{users_pending[i]['address']}}</div>
                                    <div><div style = "width:20%"><strong>Email: </strong>{{users_pending[i]['email']}}</div>
                                    <div style = "width:10%"><strong>SĐT: </strong>{{users_pending[i]['phone']}}</div></div>
                                    <button class="btn btn-success" onclick="validate('{{users_pending[i]['id']}}', this)">Validate</button>
                                    <button class="btn btn-danger" onclick="delete_from_list({{users_pending[i]['id']}}, this)">X</button>
                                </li>
    {% endfor %}
</ul>
{% endblock%}
{% block script %}
        <script src= "{{url_for('static', filename = 'js/nhanvien.js')}}"></script>
{% endblock %}